<footer class="page-footer green accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Equipo 1</h5>
          <p class="grey-text text-lighten-4">MisionTIC</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Fulanito</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Pepito</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Junita</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Carlitos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>