<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Equipo 1</h5>
          <p class="grey-text text-lighten-4">MisionTIC</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">MARLY ANGULO MOSQUERA</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">DIEGO FERNANDO CLAROS CARBALLO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">ALVER FABIAN VÁSQUEZ SANTIAGO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">JUAN MIGUEL DIAZ GUTIERREZ</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CRISTHIAN FELIPE BARRAGAN USECHE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GERMAN ANTONIO ZAPATA LONDOÑO</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>