<div class="container">    
    <br>
    <a routerLink="/servicios/create" class="btn">Registrar Servicio</a>
    <table class="table responsive">
      <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Placa</th>
            <th>Conductor</th>
            <th>Dinero Recogido</th>
            <th>Ruta</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.fecha}}</td>
          <td>{{p.hora_inicio}}</td>
          <td>{{p.hora_fin}}</td>
          <td>{{p.placa}}</td>
          <td>{{p.nombre_conductor}}</td>
          <td>{{p.dinero_recogido}}</td>
          <td>{{p.ruta}}</td>
          <td>
            <a routerLink="/servicios/edit/{{p.id}}" class="btn">
                <i class="material-icons">create</i>
            </a>
            <button class="btn red" (click)="delete(p.id)"><i class="material-icons">delete</i></button> 
          </td>
        </tr>
      </tbody>
    </table>
    </div>